:root {
  --bg-color: #259474;
  --link-color: #b2e0d3;
  --link-projects-color: red;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

h1,
h2 {
  font-family: "Carter One", cursive;
}

header {
  background-color: var(--bg-color);
}

.nav-link {
  color: var(--link-color);
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.column-main {
  display: flex;
}

.column {
  padding: 15px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.box {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-list {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: right;
  align-items: center;
}

.nav-item {
  padding: 10px;
}
.nav-item--left {
  margin-right: auto;
}

.link-projects{
  color: var(--link-projects-color);
  text-decoration: underline;
}

.code {
  background-color: white;
  width: auto;
}

.footer {
  background-color: var(--bg-color);
  color: var(--link-color);
}

.flex-center {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
}

.github-logo {
  width: 24px;
  height: auto;
  margin-right: 8px;
}

.rss-logo {
  width: 95px;
  height: auto;
  margin-right: 8px;
}
